html{
    /*  */
    background-image: url("../images/Gaming-Quiz.jpg"); 
    background-repeat: no-repeat;
    margin: auto;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
    padding: auto;
    background-size: cover;
    background-position: center center;
}
/* This code section is too transform the text to Uppercase and turn the background color to white*/
h2 {
    /* border: 2px solid red; */
    color: white;
    margin-top: 80px;
    padding-left: 50px;
    position: relative;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
}
    
    /* Section for the questions and radio buttons */

    .sect1 {
        padding: 50px;
        color: green;
        /* border: 2px solid blue; */
        font-family: 'Times New Roman', Times, serif;
        font-size: 4em;
        letter-spacing: 2px;
        

        
    }
    /* Second section of radio buttons */
    .sect2 {
        padding: 50px;
        color: green;
        /* border: 2px solid blue; */
        font-family: 'Times New Roman', Times, serif;
        font-size: 4em;
        letter-spacing: 2px;
        
    }
    /* Third section of radio buttons */
    .sect3 {
        padding: 50px;
        color: green;
        /* border: 2px solid blue; */
        font-family: 'Times New Roman', Times, serif;
        font-size: 4em;
        letter-spacing: 2px;
        
    }
    /* Buttons increase for button on section 1 */
    .sect1 input[type="radio"] {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
        transform: scale(2.5);
    }
    /* Buttons increase for button on section 2 */
    .sect2 input[type="radio"] {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
        transform: scale(2.5);
    }
    /* Buttons increase for button on section 3 */
    .sect3 input[type="radio"] {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
        transform: scale(2.5);
    }
    /* Submit buttons */
   .button{
       /* border: 2px solid rebeccapurple; */
    padding: 50px;
   }
   .button .sub{
    border-radius: 3px;
    width: 100px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: royalblue;
    white-space: normal;
    color: #fff;

   }
   .button .res{
    border-radius: 3px;
    width: 100px;
    height: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: goldenrod;
    white-space: normal;
    color: white
}
.text {
    padding: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
   
}
footer{
    background-color: royalblue;
    padding: 20px;
    margin-left: 20px;
    text-align: center;
    color: #fff;
}

